<div align="center">
    Hi, my name is Jason.
</div>

<style>
    .rounded_image {
        width: 200px;
        /* Set the width and height as per your requirements */
        height: 200px;
        background-size: cover;
        /* Adjust to your liking, 'cover' will fill the div */
        background-repeat: no-repeat;
        border-radius: 10%;
        /* Makes the image circular */
        margin: 0 auto;
        /* Center the image horizontally */
    }
</style>

<img src="my_face_cropped.jpg" class="rounded_image" />

<div align="center" markdown="1">
[LinkedIn](https://www.linkedin.com/in/jason-fantl-5435b1228/) | [Github](https://github.com/JasonFantl)
</div>